<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>Plantilla principal</h1>
        <div style="background-color: aquamarine">
            <h3>Zona de vistas:</h3>
            @RenderBody()
        </div>
    </body>
</html>